<div class="container" style="width: 40rem;padding: 5px;">
    <br>
    <h5 class="card-title text-center">Crear Cliente</h5>
    <hr>
    <form [formGroup]="customer" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellidos</label>
                    <input type="email" class="form-control" formControlName="c_last_name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombres</label>
                    <input type="email" class="form-control" formControlName="c_first_name">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Número Telefonicos</label>
                    <input type="email" class="form-control" formControlName="c_phone">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Código Postal</label>
                    <input type="email" class="form-control" formControlName="c_zip_code">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Dirección</label>
            <input type="email" class="form-control" formControlName="c_street">
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary">Submit</button>
        </div>
    </form>
    <br>
    <a href="customers" >Regresar</a>
</div>
